<div class="container-map">
  <div id="map"></div>
</div>

<% content_for :footer do %>
    IP: <%= @ip %> | Latitude: <span id="footer-lat"></span> | Longitude: <span id="footer-lng"></span> | <span id="footer-city"></span> - <span id="footer-country"></span> <i class="ion-ios-location-outline"></i>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Caro visitante,</h4>
      </div>
      <div class="modal-body">
        <p></p>
        <p>Este projeto de pesquisa, denominado <b>Corrente da Ciência</b>,
          visa o monitoramento e análise de dados da propagação de "correntes" em redes sociais,
          com ênfase inicial no What'sApp. Para isso, é muito importante que você permita a coleta
          da geolocalização (caixa de diálogo que aparecerá a seguir).</p>
        <p>Assim, será possível gerar um mapa que ilustre a disseminação dessa mensagem.</p>
        <p>Certos de vossa compreensão, agradecemos a participação nesta pesquisa!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade in" id="myModalError" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Se não desejas compartilhar a sua localização...</h4>
      </div>
      <div class="modal-body">
        <p></p>
        <p>Então, por favor, nos informe seu estado e sua cidade:</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
      </div>
    </div>

  </div>
</div>

<% content_for :javascript do %>
    <script type='text/javascript'>
        $(document).ready()
        {
            var modal = $('#myModal');
            initModal(modal);
            modal.on('hidden.bs.modal', function () {
                buildMap();
            });
        };

        function initModal(modal) {
            modal.modal({backdrop: 'static', keyboard: false}).modal('show');
        }

        var handler = Gmaps.build('Google');
        function buildMap(){
            handler.buildMap({ internal: {id: 'map'} }, function(){
                // be aware chrome >= 50 requires https for geolocation to work
                if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(displayOnMap, showError);
                } else {
                    alert("Ops... A geolocalização não é suportada por este navegador.");
                }
            });
        }

        function displayOnMap(position){
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;

            $('#footer-lat').text(lat);
            $('#footer-lng').text(lng);

            var marker = handler.addMarker({
                lat: lat,
                lng: lng
            });
            handler.map.centerOn(marker);
            //handler.bounds.extendWith(markers);
            //handler.fitMapToBounds();

            $.ajax({
                type: 'GET',
                url: '/location',
                data: { lat: lat, lng: lng },
                contentType: 'application/json',
                dataType: 'json',
                success:function(data) {
                    console.log(data);
                    var city = data['data']['city'];
                    city += " - " + data['data']['uf']
                    var country = data['data']['country'];
                    $('#footer-city').text(city);
                    $('#footer-country').text(country);
                },
                error: function(xhr){
                    var errors = $.parseJSON(xhr.responseText).errors;
                    alert(errors);
                }
            }).done(function(data){
                console.log(data);
            });
        }

        function showError(error) {
            /*var msg;
            switch(error.code) {
            case error.PERMISSION_DENIED:
            // Caso se recuse a compartilhar a geolocalização
            msg = "Infelizmente, não é possível participar desta pesquisa sem compartilhar sua geolocalização. Para tentar novamente, atualize a página."
            //location.reload();
            break;
            case error.POSITION_UNAVAILABLE:
            msg = "Ops... A localização está indisponivel no momento. Tente novamente mais tarde."
            break;
            case error.TIMEOUT:
            msg = "Tempo limite de requisição da localização foi atingido. Tente novamente mais tarde."
            break;
            default: //UNKNOWN_ERROR:
            msg = "Ocorreu um erro desconhecido."
            break;
            }
            alert(msg);*/

            var modal = $('#myModalError');
            initModal(modal);
            modal.on('hidden.bs.modal', function () {
                // Change to results
                window.location.href = '/resultados';
            });
        }
    </script>
<% end %>