<div class="container-map">
  <div id="map"></div>
</div>

<% content_for :javascript do %>
    <script type='text/javascript'>
        $(document).ready()
        {
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'} }, function(){
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
            });
        };
    </script>
<% end %>