<div class="wrapper">
  <div class="painel col-md-5 col-xs-8">
    <div class="row">
      <div class="col-sm-12">
        <h1>Corrente da Ciência</h1>
        <h3>Obrigado por participar!</h3>
        <h3>Compartilhe! Sua ajuda é muito importante para nós.</h3>
      </div>
    </div>
    <div class="row text-center share-buttons">
      <%= facebook_share_link %>
      <%= whatsapp_share_link %>
      <%= twitter_share_link %>
      <%= telegram_share_link %>
    </div>
  </div>
</div>
