<div class="wrapper">
  <div class="painel col-xs-10 col-md-5">
    <div class="row">
      <div class="col-xs-12">
        <h1>Corrente da Ciência</h1>
        <h3>Obrigado por participar!</h3>
        <h3>Contribua também compartilhando!</h3>
      </div>
    </div>
    <div class="row text-center share-buttons">
      <div class="col-xs-6 col-md-3">
        <%= facebook_share_link %>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= whatsapp_share_link %>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= twitter_share_link %>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= telegram_share_link %>
      </div>
    </div>
  </div>
</div>
