<div class="wrapper">
  <div class="painel col-xs-10 col-md-6">
    <h1>O que é?</h1>
    <p class="text-justify">O <strong>Corrente da Ciência</strong> é um projeto desenvolvido pelo <a href="http://ead.ifrn.edu.br" target="_blank">Campus de Educação a Distância</a> do <a href="http://www.ifrn.edu.br" target="_blank">Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte</a>. Esse projeto visa compreender como e o quão rápido mensagens se propagam através de aplicativos de mensagens e redes sociais.</p>
    <p class="text-justify">Uma mensagem foi compartilhada através de aplicativos de mensagens instantâneas e redes sociais. Nessa mensagem consta o endereço desse website, no qual o participante poderá fazer o registro de sua localização. De posse da localização e do registro do horário, será possível elaborar um mapa que permitirá visualizar facilmente a propagação da mensagem dia a dia.</p>
    <p class="text-justify">O presente projeto visa conscientizar as pessoas para que elas reflitam sobre a veracidade de mensagens antes de compartilhá-las, reduzindo a quantidade de mensagens mentirosas, golpes e fraudes que circulam na rede.</p>
    <h4>Realização</h4>
    <div class="realizacao">
      <a href="http://ead.ifrn.edu.br" target="_blank"><img src="https://ead.ifrn.edu.br/portal/wp-content/uploads/2015/12/logo_campus_ead.png" alt="IFRN/EaD"></a>
    </div>
  </div>
</div>
