
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">O que é?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag 'rede-social.jpeg', style: 'width:100%' %>
      </div>
      <div class="col-lg-8 text-justify">
        <p class="lead">O projeto <b>Corrente da Ciência</b> visa compreender como e o quão rápido mensagens se propagam através de redes de aplicativos de mensagens. Uma mensagem será compartilhada através desse tipo de aplicativo, e nela constará um link para um website no qual o participante poderá fazer o registro da sua localização. De posse da localização e do registro do horário, será possível elaborar um mapa que permitirá visualizar facilmente a propagação da mensagem dia a dia. O presente projeto visa conscientizar as pessoas para que elas reflitam sobre a veracidade de mensagens antes de compartilhá-las, reduzindo a quantidade de mensagens mentirosas, golpes e fraudes que circulam na rede.</p>
      </div>
    </div>
  </div>
</section>
