<div class="wrapper">
  <div class="painel" style="padding-bottom: 80px;">
    <p>
      <h1>Corrente da Ciência</h1>
      <h3>Não lhe encontrei, onde você está?</h3>
      <br>
    </p>
    <select class="form-control" name="cidade" id="cidade" style="width:100%;"></select>
    <br>
    <div class="row">
      <div class="col-lg-12 text-center">
        <button id="btn-send" type="button" name="button" class="botao">Enviar</button>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
    <script type='text/javascript'>
        $(function() {
            $("#cidade").select2({
                theme: 'bootstrap',
                language: "pt-BR",
                placeholder: 'Selecione',
                ajax: {
                    url: "<%= cidades_buscar_path %>",
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            cidade: params.term,
                        }
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 3
            });
        });


        $("#btn-send").click(function() {
            send_city()
        });

        function send_city() {
            cidade = $("#cidade").val();

            if(cidade) {
                $.ajax({
                    type: 'PATCH',
                    url: '/create_by_city',
                    data: { cidade: cidade, id: <%= @visita.id %> },
                    success: function (position) {
                        // Redirecionar para página 'Obrigado'.
                        window.location = '<%= thanks_path %>'
                    }
                });
            }
            else{
                alert("Pesquise abaixo por sua cidade...")
            }
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrbu5vz973WwL_JhQBRtGx3O2-lkYabSg&callback=buildMap"></script>
<% end %>