<div class="wrapper">
  <div class="painel col-xs-10 col-md-6">
    <h1>Equipe</h1>
    <div class="team-member col-xs-12 col-md-4">
      <%= image_tag 'jose-dijon.jpg', class: 'img-responsive img-circle' %>
      <h4>Dijon Neto</h4>
      <p class="text-muted">Orientando</p>
      <ul class="list-inline social-buttons">
        <li><a href="https://github.com/jdoneto"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.facebook.com/dijon.neto"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
    <div class="team-member col-xs-12 col-md-4">
      <%= image_tag 'jalerson-lima.jpg', class: 'img-responsive img-circle' %>
      <h4>Prof. Jalerson Lima</h4>
      <p class="text-muted">Professor Orientador</p>
      <ul class="list-inline social-buttons">
        <li><a href="https://github.com/jalerson"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.facebook.com/jalerson"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
    <div class="team-member col-xs-12 col-md-4">
      <%= image_tag 'erick-bergamini.jpg', class: 'img-responsive img-circle' %>
      <h4>Prof. Erick Bergamini</h4>
      <p class="text-muted">Professor Colaborador</p>
      <ul class="list-inline social-buttons">
        <li><a href="https://github.com/erick-bergamini"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.facebook.com/erick.bergamini"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
  </div>
</div>
