<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">Conheça nossa equipe</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag 'jose-dijon.jpg', class: 'img-responsive img-circle' %>
          <h4>Dijon Neto</h4>
          <p class="text-muted">Orientando</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://github.com/jdoneto"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.facebook.com/dijon.neto"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag 'jalerson-lima.jpg', class: 'img-responsive img-circle' %>
          <h4>Prof. Jalerson Lima</h4>
          <p class="text-muted">Professor Orientador</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://github.com/jalerson"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.facebook.com/jalerson"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag 'erick-bergamini.jpg', class: 'img-responsive img-circle' %>
          <h4>Prof. Erick Bergamini</h4>
          <p class="text-muted">Professor Colaborador</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://github.com/erick-bergamini"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.facebook.com/erick.bergamini"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
