/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require select2
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body{
    font-family: "Josefin Sans", sans-serif !important;
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
}
body#what {
    background-color: #fff;
}

.logo-ifrn-ead{
    width: 30%;
}

body#who{
    background-color: #eee;
}

/*--------*/
/* Header */
/*--------*/

.navbar-left{
    float: left;
    margin-right: 5px;
}

/*--------*/
/*  Map   */
/*--------*/

.container-map{
    width: 100%;
    height: 100%;
    position: relative;
}

#map {
    position: absolute;
    left: 0;
    top: -20px;
    right: 0;
    bottom: 0px;
}

/*--------*/
/* Footer */
/*--------*/

.footer {
    background: #373f48;
    line-height: 30px;
    border-top: 3px solid #c0ec19;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    padding-left: 10px;
}

.container-footer{
    height: auto;
}

/*----------*/
/* One Page */
/*----------*/

.box{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0;
}

.bg-light-gray{
    background-color: #eee;
}

#services{
    margin-bottom: -75px;
}

section#what, section#contact {
    padding: 100px 0;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 40px;
}
@media (min-width: 768px) {
    section#what, section#contact {
        padding: 150px 0;
    }
    section#contact{
        padding-bottom: 82px;
    }
}

section#team {
    padding-top: 100px;
}

.team-member {
    text-align: center;
    margin-bottom: 50px;
}
.team-member img {
    margin: 0 auto;
    border: 7px solid white;
    width: 210px;
    height: 235px;
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member p {
    margin-top: 0;
}

ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}

section#contact {
    background-color: #222222;
    background-image: url('../images/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
section#contact .section-heading {
    color: white;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
section#contact .text-danger {
    color: #e74c3c;
}