/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require select2
 *= require select2-bootstrap
 */

html, body {
  height: 90%;
  min-height: 90%;
}

body {
  background-color: #dcf3db;
  background-image: image-url("bkg-wlrd.png");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  margin:0px;
}

.share-buttons {
  margin-top: 1em;
}

.botao {
  background-color: #1b7bf3;
  color: #fff;
  font-size: 1.8em;
  border-style: solid;
  border-color: #1477f1;
  border-radius: 10px;
  padding: 0.5em 1em 0.5em 1em;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.5);
}
.botao:hover{
  box-shadow: 0px 5px 3px rgba(0,0,0,0.5);
  background-color: #348af3;
}
.botao:active{
  box-shadow: 0px 2px 1px rgba(0,0,0,0.5);
  background-color: #1475ed;
}

.formulario{
  text-align: center;
}

#text-where {
  font-size: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #cacaca;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.3) inset;
  color: #555;
  text-align: center;
}

.painel {
  padding: 2em;
  background-color: rgba(215, 225, 225, 0.7);
  border-style: solid;
  border-width: 1px;
  border-color: #cacaca;
  border-radius: 10px;
}

.painel h1 {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.painel h3 {
  text-align: center;
  margin-bottom: 0.5em;
}

.painel div.realizacao {
  text-align: center;
}

.painel div.realizacao img {
  width: 50%;
}

button#btn-send {
  margin-top: 0.8em;
}

.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  vertical-align:middle;
  margin-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 7px rgba(0,0,0,0.3) inset;
  padding: 1em;
  text-align: center;
}

.share-button {
  font-size: 3em;
  margin: 0.1em;
  color: #333;
  background-color: #eee;
  padding: 0.5em 1em 0.5em 1em;
  height: 1em;
  border-radius: 5px;
  border-style: solid;
  border: solid 1px #bbb;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.5);
}
.share-button:hover{
  background-color: #fafafa;
  box-shadow: 0px 5px 3px rgba(0,0,0,0.5);
}
.share-button:active{
  background-color: #ededed;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.5);
}

/* Dijon */

.text-justify {
  text-align: justify;
}

.team-member {
  text-align: center;
  margin-bottom: 50px;
  float: left;
  padding: 0px 10px 0px 10px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
  width: 160px;
  height: 175px;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  float: left;
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #95b771;
}
.text-danger {
  color: #e74c3c;
}
#menu{
  display: none;
}
.logo {
  width: 19px;
  float: left;
  margin-top: -3px;
  margin-right: 10px;
}

@media screen and (max-width: 425px) {
  .footer {
    display:none;
  }
  #menu {
    display: block;
  }
  .wrapper {
    height: auto;
  }
  .team-member {
    padding-top: 10px;
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media screen and (max-width: 375px) {
  .team-member img {
    height: 162px;
  }
}

@media screen and (max-width: 320px) {
  .team-member img {
    height: 130px;
  }
}
